<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9 offset1">
      <%= link_to 'New Source', new_source_url, class: 'btn' %>
      <h1>All Sources</h1>
      <% @sources.each do |source| %>
        <div>
          <%= link_to source.title, source_url(source)%>
          <div class='pull-right'>
            <%= link_to 'Edit', edit_source_url(source) %> |
            <%= link_to 'Remove', source_url(source), method: :delete, confirm: 'Are you sure?' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
