<div class="container-fluid">
  <div class="row-fluid">
  <div class="span1"></div><!--/span-->
    <div class="span9">

		<h1>Against Point</h1>
		<form>
		  <legend>Everything should be made as simple as possible, but no simpler.</legend>
		  <input type="text" placeholder="Against Point...">
		  <span class="help-block">Ex: Obesity does not cause heart disease.</span>
		  <button type="submit" class="btn">Submit</button>
		</form>
	</div>	
	</div>
	</div>
	
