<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9 offset1">
      <%= link_to 'New Point', new_point_url, class: 'btn' %>
      <h1>All points</h1>
      <% @points.each do |point| %>
        <div>
          <%= link_to point.title, point_url(point) %>
          <div class='pull-right'>
            <%= link_to 'Edit', edit_point_url(point) %> |
            <%= link_to 'Remove', point_url(point), method: :delete, confirm: 'Are you sure?' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
