<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <div class="hero-unit">
        <h1>Welcome to Credominion!</h1>
        <p>Where evidence matters</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
      <div class="row-fluid">
        <div class="span8 offset1">
          <%= link_to 'Add a debate', new_debate_url, class: 'btn' %>
          <h2>Debates</h2>
          <div class='span6'>
            <% @debates.each do |debate| %>
              <div>
                <%= link_to debate.title, debate_url(debate) %>
              </div>
            <% end %>
          </div>
        </div>
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p>&copy; ProjectCredo 2012</p>
  </footer>

</div><!--/.fluid-container-->
